BODY {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3A4B8E;
    color: rgb(0, 0, 0);
    font-size: 18px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}





.containers {

    background-color: #3A4B8E;
    height: 100vh;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

    .head {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: #3A4B8E;
        font-weight: 1000;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #fff;
        height: 10%;
    }

    .canvas_cnt {
        height: 60%;
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    #buttom_div {
        height: 25%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #fff;

        div {
            padding-top: 15px;
            padding-bottom: 15px;
        }



        #btn_ctn {
            padding-right: 50px;
            padding-left: 50px;
            width: 100%;
            display: flex;
            align-items: center;


            svg {
                cursor: pointer;
            }

            .feq_container {
                svg {
                    width: 110px;
                    margin-left: 15px;
                }
            }

            .control_container {
                svg {
                    width: 80px;
                }
            }

            .logo {
                svg {
                    width: 400px;
                }
            }

            h1 {
                font-size: 48px;
                color: #3A4B8E;
                font-weight: 1000;

            }

        }
    }
}





@media screen and (max-height:600px) {
    .containers {
        .head {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #3A4B8E;
            font-weight: 1000;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: #fff;
            height: 10%;
        }


        #buttom_div {

            #btn_ctn {
                .feq_container {
                    svg {
                        width: 40px;
                        margin-left: 2px;
                    }
                }

                .control_container {
                    svg {
                        width: 40px;
                    }
                }

                h1 {
                    font-size: 20px;
                    color: #3A4B8E;
                    font-weight: 1000;

                }

                .logo {
                    svg {
                        width: 200px;
                    }
                }

            }
        }
    }
}